* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.tutorialsPage {
  background-image: url(./images/alleyvan.jpg);
}

.reactPage {
  background-image: url(./images/galaxy.jpg);
}

.selfie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30vh;
  width: 30vh;
  padding: 15%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images/selfie.jpg);
  animation-direction: normal;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-name: colors;
  animation-timing-function: ease;
}

@keyframes colors {
  0% {
    border: 10px solid rgb(153, 16, 153);
  }
  20% {
    border: 10px solid rgb(10, 21, 172);
  }
  30% {
    border: 10px solid rgb(16, 134, 138);
  }
  40% {
    border: 10px solid rgb(6, 172, 28);
  }
  60% {
    border: 10px solid rgb(172, 169, 7);
  }
  80% {
    border: 10px solid rgb(199, 10, 10);
  }
  90% {
    border: 10px solid rgb(255, 17, 128);
  }
  100% {
    border: 10px solid rgb(153, 16, 153);
  }
}

.header {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 4vw;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.app {
  background-color: rgb(26, 23, 23);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: #1c1e20;
  padding: 4px;
  padding-left: 12px;
  margin-bottom: 0px;
  font-weight: bold;
}

.platform {
  display: block;
  justify-content: center;
  align-items: top;
  color: blue;
}

.link {
  color: rgb(153, 16, 153);
  text-decoration: none;
}

.title {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.quote {
  max-width: 800px;
}

.quoteCred {
  display: inline-block;
  margin-left: 200px;
}

.main {
  min-height: 85vh;
}

.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.padded {
  padding: 20px;
}

.page {
  background-color: rgb(26, 23, 23);
  margin-left: min(2vw, 200px);
  margin-right: min(2vw, 200px);
  margin-top: 0px;
  padding-top: 100px;
}

.headline {
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.headline-title {
  color: rgb(153, 16, 153);
}

@media screen and (max-width: 960px) {
  .selfie {
    padding: 30%;
    border: 5px solid rgb(153, 16, 153);
  }
}
